.idea/
Company.iml
starter/starter.iml
common/common.iml
application/application.iml
web/web.iml
store/store.iml
adapter/store/target/
adapter/web/target/
application/target/
common/target/
starter/target/