<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <header class="header" th:fragment="header-frag">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header">
                        <a id="toggle-btn" href="#" class="menu-btn"><i class="fas fa-list"> </i></a>
                        <a th:href="@{/}" class="navbar-brand">
                        <div class="brand-text d-none d-md-inline-block">
                            <span>Company Flow</span>
                            <strong class="text-primary">Dashboard</strong>
                        </div></a>
                    </div>
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <li class="nav-item"><a th:href="@{/preference/settings/}" class="nav-link logout"> <span class="d-none d-sm-inline-block">Settings</span><i class="fas fa-cog"></i></a></li>
                        <!-- Log out-->
                        <li class="nav-item"><a th:href="@{/logout}" class="nav-link logout"> <span class="d-none d-sm-inline-block">Logout</span><i class="fa  fa-sign-out-alt"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>
