<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{inventory/layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Inventory</title>
</head>
<body>
<div layout:fragment="~{content}">
    <div class="breadcrumb-holder">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/inventory/product/}">New Product</a></li>
                <li class="breadcrumb-item active">Product Listing       </li>
            </ul>
        </div>
    </div>
    <fieldset>
        <div class="col-lg-12 mb-5">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h3 class="h6 text-uppercase mb-0">Product Listing</h3>
                        </div>
                    </div>
                </div>
                <br>
                <form th:action="@{/inventory/product/listing}" id="filter_form" th:object="${product}" class="form-horizontal" method="post">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1">
                                        <label class="form-control-label">Name</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" name="name" th:field="*{name}"  placeholder="Name Of Product" class="form-control form-control-sm">
                                    </div>
                                    <div class="col-md-1">
                                        <label class="form-control-label">Category</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" name="category" th:field="*{category}"  placeholder="Category Of Product" class="form-control form-control-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group product-listing">
                        <div class="text-left">
                            <div class="row">
                                <div class="col-md-1">
                                    <button type="submit" id="filter_button" name="filter" class="btn btn-primary btn-sm" data-filter-listing-url="/filter">Filter</button>
                                </div>
                                <div class="col-md-1 ">
                                    <button type="submit" id="clear_button" name="clear" class="btn btn-primary btn-sm">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="line-embed"></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table  style="width: 100%;" class="table table-striped catalogue">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody id="p_list_body">
                            <div th:fragment="result" th:each="product : ${products}">
                                <tr>
                                    <td></td>
                                    <td><span th:text="${product.id}"></span></td>
                                    <td><a th:href="@{'/inventory/product/view/'+${product.id}}" class="text-muted"><span th:text="${product.name}"></span></a></td>
                                    <td><span th:text="${product.category}"></span></td>
                                    <td><span th:text="${product.quantity}"></span></td>
                                    <td><span th:text="${product.amount}"></span></td>
                                    <td><span th:text="${product.status}"></span></td>
                                    <td>
                                        <div class="col-md-1">
                                            <a th:href="@{'/inventory/product/delete/'+${product.id}}" id="delete_button" class="btn btn-primary btn-sm active confirm" role="button" aria-pressed="true">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
</body>
</html>
