 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="side-bar-frag">
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <!-- Sidebar Header    -->
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <div class="sidenav-header-inner text-center" >
                    <a th:href="@{/preference/profile/}"><img id="profilePicture"  th:alt="${alias}" class="img-fluid rounded-circle"></a>
                    <h2 class="h5" th:text="${fullName}">Anonymous</h2><span th:text = "${alias}">Anonymous</span><br><span th:text="${roles}"></span>
                </div>
                <!-- Small Brand information, appears on minimized sidebar-->
                <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a></div>
            </div>
            <!-- Sidebar Navigation Menus-->
            <div class="main-menu">
                <h5 class="sidenav-heading">Staff Archive</h5>
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <li><a href="#formsDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-form"></i>Staff </a>
                        <ul id="formsDropdown">
                            <li><a th:href="@{/archive/staff/}">General</a></li>
                            <li><a th:href="@{/archive/staff/listing/}">Listing</a></li>
                            <li><a th:href="@{/archive/staff/report/}">Report</a></li>
                        </ul>
                    </li>
                    <li><a href="#chartsDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-chart-bar"></i>Performance </a>
                        <ul id="chartsDropdown" class="collapse list-unstyled ">
                            <li><a th:href="@{/archive/performance/listing/}">Listing</a></li>
                            <li><a th:href="@{/archive/performance/report/}">Report</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
